.article {
	position: relative;
	padding: rem-calc(18 0 58 0);

	@include breakpoint(medium) {
		padding: rem-calc(18 50 58 50);
	}

	@include breakpoint(768) {
		padding: rem-calc(18 100 58 100);
	}

	@include breakpoint(large) {
		padding: rem-calc(18 0 58 0);
	}

	&--project {
		@include breakpoint(large) {

			.article__img {
				position: absolute;
				max-width: 45%;
				top: rem-calc(18);
			}

			&:nth-child(even) {
				.article__img {
					left: rem-calc(70);
				}
			}

			&:nth-child(odd) {
				.article__img {
					right: rem-calc(70);
				}
			}

		}
	}

	&--positions {
		@include breakpoint(medium) {
			padding-left: 0;
			padding-right: 0;
		}

		@include breakpoint(large) {
			margin-bottom: rem-calc(100);
		}
	}
}
	.article__title {
		padding: rem-calc(0 0 28 0);

		img {
			height: rem-calc(39);

			@include breakpoint(medium) {
				height: rem-calc(54);
			}

			@include breakpoint(large) {
				height: rem-calc(62);
			}
		}

		.label {
			margin-top: rem-calc(32);
		}
	}

	.article__img {
		margin-bottom: 1.75rem;
		text-align: center;
	}

	.article__text {
		&:last-child {
			margin-bottom: 0;
		}
	}
	
	.article__cta {
		text-align: center;
		
		@include breakpoint(large) {
			text-align: left;
		}
	}