.button {
	font-family: 'PosteramaText', $body-font-family;
	font-weight: 800;
	text-transform: uppercase;
	width: 100%;
	max-width: rem-calc(300);

	@include breakpoint(medium) {
		font-size: rem-calc(16);
	}
	@include breakpoint(large) {
		font-size: rem-calc(18);
	}

	&.secondary {
		color: map_get($foundation-palette, primary);
	}
}

.button-transparent {
	background: transparentize($white, .8);
}
