@font-face {
	font-family: 'PosteramaText';
	src:  url('../fonts/posterama/PosteramaText-Black.eot?#iefix') format('embedded-opentype'),
	url('../fonts/posterama/PosteramaText-Black.woff') format('woff'),
	url('../fonts/posterama/PosteramaText-Black.ttf')  format('truetype'),
	url('../fonts/posterama/PosteramaText-Black.svg#PosteramaText-Black') format('svg');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'PosteramaText';
	src:  url('../fonts/posterama/PosteramaText-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/posterama/PosteramaText-Bold.woff') format('woff'),
	url('../fonts/posterama/PosteramaText-Bold.ttf')  format('truetype'),
	url('../fonts/posterama/PosteramaText-Bold.svg#PosteramaText-Bold') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'PosteramaText';
	src:  url('../fonts/posterama/PosteramaText-Light.eot?#iefix') format('embedded-opentype'),
	url('../fonts/posterama/PosteramaText-Light.woff') format('woff'),
	url('../fonts/posterama/PosteramaText-Light.ttf')  format('truetype'),
	url('../fonts/posterama/PosteramaText-Light.svg#PosteramaText-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}

