.round {
	border-radius: 100%;
}

.border {
	border: rem-calc(2) solid $light-gray;

	@include breakpoint(medium) {
		border-width: rem-calc(4);
	}
	@include breakpoint(large) {
		border-width: rem-calc(5);
	}

	&--b {
		border-bottom: rem-calc(1) solid $dark-gray;
	}
}

.padding {
	&--b-0 {
		padding-bottom: 0;
	}
	&--t-8 {
		padding-top: rem-calc(8);
	}
}

.color {
	&--black {
		color: $black;
	}
	&--white {
		color: $white;
	}
}

.vam {
	position: relative;
	top: 50%;
	transform: perspective(1px) translateY(-50%);
}