.hero__video {
	padding: rem-calc(16 0);

	@include breakpoint(medium) {
		padding: rem-calc(64 0);
	}

	@include breakpoint(large) {
		padding: rem-calc(142 0);
	}
}

	.hero__title {
		color: $black;
		font-size: rem-calc(44);
		padding: rem-calc(16 50 24 50);
		margin-bottom: 0;

		@include breakpoint(medium) {
			font-size: rem-calc(80);
			padding: rem-calc(16 50 32 50);
		}

		@include breakpoint(large) {
			font-size: rem-calc(100);
			padding: rem-calc(16 50 48 50);
		}
	}

	.hero__nav {
		ul {
			text-align: center;
			margin-bottom: 0;

			li {
				display: inline-block;
				width: 100%;
				max-width: rem-calc(145);
				margin: rem-calc(0 4);

				@include breakpoint(medium) {
					max-width: rem-calc(200);
					margin: rem-calc(0 10);
				}

				@include breakpoint(large) {
					max-width: rem-calc(230);
				}
			}

			a {
				width: 100%;
			}
		}
	}

	.hero__proclaim {

		@include breakpoint(medium) {
			padding: rem-calc(30 0 17 0);
		}

		@include breakpoint(large) {
			padding: rem-calc(80 0 67 0);
		}

		img {
			width: rem-calc(60);
			height: rem-calc(60);

			@include breakpoint(medium) {
				width: rem-calc(100);
				height: rem-calc(100);
			}
		}

		blockquote {

			p {
				&::before,
				&::after {
					content: '"';
				}
			}

			cite {
				font-weight: 600;
				font-style: normal;

				&::before {
					display: none;
				}
			}
		}
	}

		.hero__photo {
			margin-top: rem-calc(25);
		}