.top-bar {
	font-family: 'PosteramaText', $body-font-family;
	font-weight: 700;
	text-transform: uppercase;
	transition: top 300ms ease-in-out;
	position: fixed;
	z-index: 100;
	width: 100%;

	.top-bar-title {

		@include breakpoint(large) {
			position: absolute;
			top: rem-calc(21);
			left: rem-calc(21);
		}

		img	{
			height: rem-calc(35);
		}
	}
	
	a {
		color: $white;
		
		&:hover {
			color: map_get($foundation-palette, primary);
		}
	}
	.menu-toggler {
		> span {
			display: block;
			height: 35px;
		}
	}

		.menu-icon {
			height: rem-calc(22);
			width: rem-calc(30);
			margin-top: rem-calc(5);

			&::after {
				box-shadow: 0 rem-calc(10) 0 #fff, 0 rem-calc(20) 0 #fff;
			}
			&:hover::after {
				background: map_get($foundation-palette, primary);
				box-shadow: 0 rem-calc(10) 0 map_get($foundation-palette, primary), 0 rem-calc(20) 0 map_get($foundation-palette, primary);
			}
		}

	.top-bar-right {
		padding-top: rem-calc(21);
		float: none;

		@include breakpoint(large) {
			padding-top: 0;
			text-align: center;
		}

		li {
			width: 100%;

			@include breakpoint(large) {
				width: auto;
				display: inline-block;
			}

			a {
				text-align: center;
				font-size: rem-calc(24);

				@include breakpoint(medium) {
					font-size: rem-calc(18);
					padding: rem-calc(14) 1rem;
				}
				@include breakpoint(large) {
					font-size: rem-calc(16);
					padding: rem-calc(9) 1rem;
				}
			}
		}
	}
}


.no-js {
	@include breakpoint(medium down) {
		.top-bar {
			display: none;
		}
	}

	@include breakpoint(large) {
		.title-bar {
			display: none;
		}
	}

	.menu-toggler {
		display: none;
	}
}

.nav-down {
	top: 0;
}
.nav-up {
	top: rem-calc(-77);
}