{block content}
	{include 'include/welcome.latte'}
	{include 'include/ourProducts.latte'}
	{include 'include/ourTeam.latte'}
	{include 'include/getInTouch.latte'}
	{include '../include/footer.latte'}
	{include 'include/signUp.latte'}
{/block}