.idea
.DS_Store
www/bower_components
www/assets/css
www/assets/app.js
dist/**/*
node_modules

log
temp
vendor/*
data/*
www/cv/*
.gitignore
!.htaccess
!web.config
.gitkeep
app/config/config.local.neon
