<footer class="page-footer">
	<div class="row">
		<div class="column small-12 text-center">
			<p><strong>© 2016 Green Light Solutions s.r.o.</strong>&nbsp;| Nupaky 148, 251&nbsp;01 Nupaky</p>
			<p><img src="{$basePath}/assets/img/logo-greenlight-symbol.svg" alt=""></p>
		</div>
	</div>
</footer>