.btn {
	text-transform: uppercase;
	font-size: 1.25rem;

	@include media-breakpoint-down(sm) {
		padding-right: 1.5rem;
		padding-left: 1.5rem;
		font-size: 1rem;
	}

	&.btn-outline-light {
		background: transparentize($black, .5);

		&:hover {
			background: $light;
		}
	}
}
