.contact {
	color: $gray-600;

	.contact-details {
		padding: 6.25rem 1rem 5rem;

		@include media-breakpoint-up(md) {
			padding-right: 3.125rem;
		}

		@include media-breakpoint-up(lg) {
			padding-right: 6.25rem;
		}

		@include media-breakpoint-up(xl) {
			padding-right: 12.125rem;
		}

	}

	.header .title {
		padding-top: 0;
		padding-bottom: 3.125rem;
		margin-bottom: 0;
	}

	.contacts {
		font-size: 1.25rem;
		font-weight: $font-weight-bold;

		@include media-breakpoint-up(lg) {
			font-size: 1.625rem;
		}

		a[href^="tel:"] {
			color: $gray-600;
		}
	}

	.address {
		@include media-breakpoint-up(lg) {
			font-size: 1.25rem;
		}
	}

	.nav {
		padding: 3.125rem 0;
		font-size: 1.5rem;
	}

	#map {
		height: 25rem;

		@include media-breakpoint-up(md) {
			height: auto;
		}
	}
}
