.contact {
	padding: 6.25rem 0 9.375rem;

	@include media-breakpoint-down(md) {
		padding-bottom: 1.5rem;
	}

	.header {
		.title {
			margin-bottom: 0;
			padding-bottom: 2.375rem;
		}

		.perex {
			margin-bottom: 0;
		}
	}

	.contact__box {
		border: 1px solid $gray-600;
		padding: 3.125rem 0 0;
		margin-top: 3.125rem;

		@include media-breakpoint-down(md) {
			border: 0;
			padding-top: 0;
		}

		p {
			margin-bottom: 2rem;

			@include media-breakpoint-down(md) {
				margin-bottom: 1.5rem;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}

		.col-12 {
			padding: 0 3.125rem 3.125rem;

			@include media-breakpoint-down(md) {
				padding-right: 1.5rem;
				padding-left: 1.5rem;
			}
		}
	}

	.contact__title {
		color: $white;
		margin-bottom: 2rem;
		font-size: 1.375rem;

		@include media-breakpoint-down(md) {
			font-size: 1.125rem;
			margin-bottom: 1.5rem;
		}
	}

	.contact__text {
		font-size: 1.0625rem;
		line-height: 1.4;
		color: $gray-600;
		text-shadow: 0 1px 2px 0 transparentize($black, .5);

		@include media-breakpoint-down(md) {
			font-size: .875rem;
		}

		a {
			color: $white;
		}
	}

	.contact__link {

	}
}
