.main-footer {
	padding: 3.5rem 0;

	.row .col-12 {
		margin-bottom: 3rem;
	}

	.logo {
		svg {
			max-height: 2rem;
		}
	}

	.menu {
		text-transform: uppercase;

		&.menu--horizontal {
			.nav-link {
				padding: .5rem;
			}
		}

		.menu__title {
			color: $white;
			padding: .5rem 0;
			font-size: .875rem;
		}

		.nav-link {
			font-size: .875rem;
			color: $gray-500;
			padding-right: 0;
			padding-left: 0;
			transition: color .2s ease-in-out;

			&:hover {
				color: $white;
			}
		}
	}

	.address {
		font-size: .875rem;

		span {
			display: block;
			padding: .5rem 0;
		}

		a {
			color: $white;
			text-decoration: underline;
			transition: color .2s ease-in-out;

			&:hover {
				color: $gray-500;
			}
		}
	}
}

@include media-breakpoint-up(lg) {
	.main-footer {
		padding-bottom: 6.25rem;

		.row .col-12 {
			margin-bottom: 0;
		}
	}
}
