.hero {
	.hero__scroll {
		svg {
			width: 1.625rem;
			animation: scroll 2s ease-in-out infinite;
		}
	}

	.percentage {
		letter-spacing: 0.625rem;
		font-size: 5.625rem;
		font-weight: 300;

		@include media-breakpoint-up(sm) {
			font-size: 10rem;
		}
	}

	.progress {
		margin-bottom: 2.625rem;
	}

	.lead {
		font-size: 1.125rem;
		line-height: 1.75;
		text-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);

		@include media-breakpoint-up(sm) {
			font-size: 2rem;
			line-height: 1.56;
		}

		a {
			border-bottom: 1px solid theme-color(primary);

			&:hover {
				text-decoration: none;
			}

			@include media-breakpoint-up(sm) {
				border-bottom-width: 2px;
			}
		}
	}

	.fullscreen-bg {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		overflow: hidden;
		z-index: -100;

		&:after {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background: transparentize($black, .55);
		}
	}

	.fullscreen-bg__video {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	@media (min-aspect-ratio: 16/9) {
		.fullscreen-bg__video {
			height: 300%;
			top: -100%;
		}
	}

	@media (max-aspect-ratio: 16/9) {
		.fullscreen-bg__video {
			width: 300%;
			left: -100%;
		}
	}

	@media (max-width: 767px) {
		.fullscreen-bg {
			background: url('../images/video-poster.jpg') center center / cover no-repeat;
		}

		.fullscreen-bg__video {
			display: none;
		}
	}
}
