.jobs {
	padding: 3.125rem 0 4rem;
	background: $black no-repeat center center / cover;

	@include media-breakpoint-up(md) {
		background-image: url(../images/jobs-bg.jpg);
		padding-bottom: 4.375rem;
	}

	@include media-breakpoint-up(lg) {
		padding-bottom: 5.375rem;
	}

	@include media-breakpoint-up(xl) {
		padding-bottom: 9.375rem;
	}

	@include media-breakpoint-down(lg) {
		padding-top: 0;
	}

	.header .title {
		padding-bottom: 0;

		@include media-breakpoint-down(lg) {
			padding-top: 4.5rem;
		}
	}

	.jobs__thumb {
		img {
			width: 100%;
		}
	}

	.jobs__image {
		margin-bottom: 4rem;

		@include media-breakpoint-up(md) {
			height: 35rem;
			margin-bottom: 0;
		}
	}
}
