.jobs {
	padding: 2rem 0 9.375rem;

	.jobs__image {
		height: 46.25rem;
	}

	.jobs__text {
		font-size: 1.25rem;
		line-height: 1.4;
		text-shadow: 0 1px 2px 0 transparentize($black, .5);

		a {
			text-decoration: underline;
		}
	}
}
