.modal {
	.modal-content {
		border-radius: 0;
		padding-bottom: 5.625rem;
		background-image: url('../images/svg/modal-bg.svg');
		background-repeat: no-repeat;
		background-position: right bottom;
		font-size: 1.125rem;
		line-height: 1.5;
		font-weight: $font-weight-bold;
	}

	a {
		text-decoration: underline;
		font-size: 1.25rem;
	}
}
