.scrollbox {
	display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;

	.person {
		flex: 0 0 95%;
		max-width: 26.25rem;
	}
}

.person {
	position: relative;
	height: 26.25rem;
	padding: 2.875rem 2.625rem 2.625rem;
	background-color: $gray-200;

	@include media-breakpoint-down(md) {
		padding-right: 1.625rem;
		padding-left: 1.625rem;
	}

	&:nth-child(even) {
		background-color: $white;
	}

	.person__quote {
		font-size: 1.125rem;
		line-height: 1.5;
	}

	.person__image {
		position: absolute;
		bottom: 2.625rem;
		right: 2.625rem;

		@include media-breakpoint-down(md) {
			right: 1.625rem;
		}

		img {
			width: 7.5rem;
			height: 7.5rem;
			border-radius: 100%;
		}
	}

	.person__details {
		position: absolute;
		bottom: 2.625rem;
		left: 2.625rem;
		font-size: .875rem;

		@include media-breakpoint-down(md) {
			left: 1.625rem;
		}
	}

	.person__name {
		font-size: 1rem;
		font-weight: $font-weight-bold;
	}

	.person__job {
		min-height: 2.625rem;
	}

	.person__social {
		font-size: 1.375rem;

		.nav-link {
			padding-left: 0;
			padding-right: 1.125rem;
		}
	}
}
