.products {
	.products__header {
		background-color: $white;
		padding: 2.25rem 1rem 2rem;

		.gls {
			margin-bottom: 2.125rem;

			svg {
				width: 4.375rem;
				height: 4.375rem;
			}
		}

		.title {
			margin-bottom: 2rem;
		}
		.button {
			margin-top: 2rem;
		}
		.link {
			font-size: 1.125rem;
			line-height: 1.55;
			text-decoration: underline;
		}
	}
}

.product {
	position: relative;
	display: block;
	padding: 1rem 1.25rem;
	color: $white;
	font-size: .75rem;
	line-height: 1.25;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 2;
		background-color: transparentize($black, .5);
		transition: background-color 300ms ease-out;
	}

	&:hover {
		text-decoration: none;
		color: $white;

		&:before {
			background-color: transparent;
		}

		.product__logo svg .icon {
			fill: $white;
		}
	}

	&.product--right {
		text-align: right;
	}

	@each $product, $color in $product-colors {
		&.product--#{$product} {
			background-color: $color;
		}
	}

	.product__logo {
		margin-bottom: 2.375rem;

		svg {
			height: 1.5rem;

			.icon {
				transition: all 300ms ease-out;
			}
		}
	}

	.product__text {
		font-size: 1.25rem;
		line-height: 1.55;
		margin-bottom: 1.5rem;
		font-weight: 300;
	}

	.product__link {
		margin-bottom: 1.125rem;
	}

	.product__logo,
	.product__text,
	.product__link {
		position: relative;
		z-index: 3;
	}

	.product__link {
		span {
			border-bottom: 1px solid $white;
		}
	}
}

.brands {
	.perex {
		color: $gray-600;
	}

	.header {
		margin-top: 5.375rem;
		margin-bottom: 2.625rem;
	}

	.logos {
		margin-bottom: 5.625rem;
	}

	.text {
		margin-bottom: 3.875rem;
	}
	.button {
		margin-bottom: 6rem;
	}
}

@include media-breakpoint-down(sm) {
	.products {
		.title br {
			display: none;
		}
	}
}

@include media-breakpoint-up(lg) {
	.products {
		position: relative;

		.products__header {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			position: absolute;
			top: 50%;
			left: 50%;
			margin-top: -14.0625rem;
			margin-left: -14.0625rem;
			padding: 2.125rem;
			z-index: 4;
			width: 28.125rem;
			height: 28.125rem;
			border-radius: 100%;

			.gls {
				margin-bottom: 3.125rem;
			}

			.title {
				font-size: 1.875rem;
				margin-bottom: 3.75rem;
			}

			.perex {
				color: $gray-900;
			}
		}
	}

	.product {
		height: 27.5rem;
		padding: 2.5rem 3.75rem;

		.product__logo {
			svg {
				height: 3rem;
			}
		}

		.product__logo {
			margin-bottom: 5.625rem;
		}

		.product__text {
			font-size: 1.375rem;
			line-height: 1.3;
			margin-bottom: 4.125rem;
		}

		.product__link {
			font-size: 1rem;
		}
	}

	.brands {
		.header {
			margin-top: 9.375rem;
			margin-bottom: 2.625rem;
		}

		.logos {
			margin-bottom: 5.625rem;
		}

		.text {
			margin-bottom: 6.875rem;
		}
		.button {
			margin-bottom: 10rem;
		}
	}
}
