.product {
	position: relative;
	padding: 1rem 1.25rem;
	color: $white;
	font-size: .75rem;
	line-height: 1.25;
	background-position: center top !important;

	&:hover {
		text-decoration: none;
		color: $white;

		.product__logo svg .icon {
			fill: $white;
		}
	}

	&.product--right {
		text-align: right;

		.product__link {
			left: 0;
			right: 1.25rem;
		}
	}

	@each $product, $color in $product-colors {
		&.product--#{$product} {
			background-color: $color;
		}
	}

	.product__logo {
		margin-bottom: 2.375rem;

		svg {
			height: 1.5rem;

			.icon {
				transition: all 300ms ease-out;
			}
		}
	}

	.product__text {
		font-size: 1.25rem;
		line-height: 1.55;
		margin-bottom: 1.5rem;
		font-weight: 300;
	}


	.product__logo,
	.product__text,
	.product__link {
		position: relative;
		z-index: 3;
	}

	.product__link {
		position: absolute;
		bottom: 2rem;
		left: 1.25rem;

		span {
			border-bottom: 1px solid $white;
		}
	}
}

.brands {
	.perex {
		color: $gray-600;
	}

	.header {
		margin-top: 5.375rem;
		margin-bottom: 2.625rem;
	}

	.logos {
		margin-bottom: 5.625rem;
	}

	.text {
		margin-bottom: 3.875rem;
	}
	.button {
		margin-bottom: 6rem;
	}
}

@include media-breakpoint-up(md) {
	.product {
		padding: 2.5rem 1.5rem 3.75rem;
		height: 100%;

		.product__link {
			position: absolute;
			bottom: 2.5rem;
			left: 1.5rem;
		}

		&.product--right {
			.product__link {
				left: 0;
				right: 1.5rem;
			}
		}
	}
}

@include media-breakpoint-up(lg) {
	.product {
		padding-left: 3.75rem;
		padding-right: 3.75rem;

		.product__logo {
			svg {
				height: 3rem;
			}
		}

		.product__logo {
			margin-bottom: 5.625rem;
		}

		.product__text {
			position: absolute;
			top: 50%;
			left: 3.75rem;
			font-size: 1.375rem;
			line-height: 1.3;
			margin-bottom: 4.125rem;
		}

		.product__link {
			font-size: 1rem;
			left: 3.75rem;
			bottom: 3.5rem;
		}

		&.product--right {
			.product__text {
				left: 0;
				right: 3.75rem;
			}

			.product__link {
				right: 3.75rem;
			}
		}
	}

	.brands {
		.header {
			margin-top: 9.375rem;
			margin-bottom: 2.625rem;
		}

		.logos {
			margin-bottom: 5.625rem;
		}

		.text {
			margin-bottom: 6.875rem;
		}
		.button {
			margin-bottom: 10rem;
		}
	}
}

