.quadro {
	position: relative;

	.quadro__header {
		background-color: $white;
		padding: 2.25rem 1rem 2rem;

		.gls {
			margin-bottom: 1.5rem;

			svg {
				width: 4.375rem;
				height: 4.375rem;
			}
		}

		.title {
			margin-bottom: 1rem;
			font-size: 1.5rem;
		}
		.button {
			margin-top: 1rem;
		}

		.arrow {
			font-size: 1.5rem;
		}

		.link {
			font-size: 1.25rem;
			line-height: 1.55;
			text-decoration: underline;
		}
	}

	.quadro__item {
		position: relative;
		display: block;
		min-height: 15.625rem;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: 2;
			background-color: transparentize($black, .7);
			transition: background-color 300ms ease-out;
		}

		&:hover {
			&:before {
				background-color: transparent;
			}
		}
	}
}

@include media-breakpoint-down(sm) {
	.quadro {
		.title br {
			display: none;
		}
	}
}

@include media-breakpoint-up(lg) {
	.quadro {
		.quadro__header {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			position: absolute;
			top: 50%;
			left: 50%;
			margin-top: -14.0625rem;
			margin-left: -14.0625rem;
			padding: 2.125rem;
			z-index: 4;
			width: 28.125rem;
			height: 28.125rem;
			border-radius: 100%;

			.gls {
				margin-bottom: 2.125rem;
			}

			.title {
				font-size: 1.875rem;
				line-height: 1.33;
				margin-bottom: 2.5rem;
			}

			.perex {
				font-size: 1.25rem;
				color: $gray-900;
				width: 92%;

			}
		}

		.quadro__item {
			height: calc(50vh - 1.875rem);
			min-height: 16.25rem;
			max-height: 27.5rem;
		}
	}
}
