html, body {
	position: relative;
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
}

.content {
	flex: 1 0 auto;
	width: 100vw;
	overflow-x: hidden;

	> section {
		position: relative;
	}
}

.main-footer {
	flex-shrink: 0;
}

*:focus,
button:focus {
	outline: none;
}


.full-height {
	height: 100vh;
}

.bg-black {
	background-color: $black;
}
.bg-medium-gray {
	background-color: $gray-800;
}

.text-medium-gray {
	color: $gray-500;
}

.anchor {
	position: absolute;
	top: -3.75rem;
}
