.cform {
	padding-top: rem-calc(32);

	.button {
		max-width: none;
		width: auto;
		padding: 1rem 1.5rem;

		@include breakpoint(medium) {
			margin: rem-calc(30) 1.5rem;
		}

		@include breakpoint(large) {
			margin: rem-calc(56) 1.5rem;
			width: rem-calc(300);
		}
	}

	.column:last-child {
		float: none;
	}
}

input,textarea {
	&::-webkit-input-placeholder { color: $black; }
	&:-moz-placeholder { color: $black; }

	&:-ms-placeholder { color: $black; }
	&::-ms-input-placeholder { color: $black; }
	&:-ms-input-placeholder	{ color: $black; }
}

.uploader-container {
	text-align: left;
	font-size: rem-calc(15);
	border: rem-calc(2) dashed #585858;
	padding: rem-calc(9);

	@include breakpoint(medium) {
		padding: rem-calc(12);
	}

	@include breakpoint(large) {
		padding: rem-calc(16);
	}

	img {
		width: rem-calc(18);
		margin-right: rem-calc(4);
		vertical-align: text-bottom;

		@include breakpoint(medium) {
			width: rem-calc(22);
			margin-right: rem-calc(17);
			vertical-align: middle;
		}

		@include breakpoint(large) {
			width: rem-calc(28);
			margin-right: rem-calc(11);
		}
	}
}

.divider {
	font-size: rem-calc(15);
	line-height: rem-calc(30);
	text-align: center;

	@include breakpoint(medium) {
		line-height: rem-calc(45);
	}

	@include breakpoint(large) {
		line-height: rem-calc(60);
	}
}